.ResetPasswordSuccessful {
    width: 100%;
    max-width: 375px;
    padding: 50px 5px 0 5px;

    margin: 0 auto;
    display: flex;
    flex-direction: column;

    color: #121212;
    letter-spacing: 0.01em;

    &-Title {
        text-align: center;
        padding-bottom: 25px;

        font-size: 18px;
        line-height: 27px;
    }

    &-Text {
        padding: 25px 0 15px 0;

        font-size: 12px;
        line-height: 22px;

    }

    &-Email {
        font-size: 18px;
    }

    &-Info {
        font-size: 12px;
        line-height: 22px;
        color: #6D6D6D;
    }
}