.Scroll {
    position: fixed;
    bottom: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: all .2s ease-in;

    &:hover {
        .Scroll-Icon {
            animation: arrow-hover 1.3s ease-in infinite;
        }
    }

    &-Icon {
        
    }

    &-Text {
        padding-left: 30px;
        display: block;
        transform: rotate(90deg);
    }
}

@keyframes arrow-hover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}