.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 50px;
}

.Product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4px;
    width: 270px;
    height: 358px;
    background-color: #F0F0F0;
    cursor: pointer;
    overflow: hidden;

    &-Img {
        width: 100%;
        height: auto;
        transition: all .2s ease-in;

        &:hover {
            transform: scale(1.1);
            transition: all .2s ease-in;

            @media screen and (max-width: 950px) {
                transform: none;
            }
        }
    }

    &-Name, &-Price {
        color: #121212;
        font-size: 14px;
        line-height: 21px;
    }

    &-Name {
        padding: 15px 15px 0 15px;
    }

    &-Price {
        padding: 0 15px 15px 15px;
        font-weight: 500;
    }

    &-AddProductIcon {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all .2s ease-in;

        &:hover {
            transform: scale(1.2);
            transition: all .2s ease-in;
        }
    }

    @media screen and (max-width: 590px) {
        width: 144px;
        height: 220px;
    }
    
    &-ShowMoreBtn {
        width: 110px;
        height: 40px;
        margin: 0 auto;

        border: 1px solid #121212;
        line-height: 40px;
        text-align: center;

        font-weight: 500;
        font-size: 14px;
        color: #121212;
        margin-bottom: 30px;
        cursor: pointer;
    }
}