.Products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4px;
    width: 270px;
    height: 358px;
    background-color: #F0F0F0;

    &-Img {
        width: 100%;
        height: auto;
    }

    &-Name, &-Price {
        color: #121212;
        font-size: 14px;
        line-height: 21px;
    }

    &-Name {
        padding: 15px 15px 0 15px;
    }

    &-Price {
        padding: 0 15px 15px 15px;
        font-weight: 500;
    }

    &-AddProductIcon {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 425px) {
        width: 144px;
        height: 220px;
    }
}